# Configurações do Servidor
NODE_ENV=development
NODE_WEB_PORT=3000

# Conexão com o PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=gestao_hotel
POSTGRES_USER=hotel_user
POSTGRES_PASSWORD=hotel_password

# Segurança
JWT_SECRET=sua_chave_secreta_aqui
